body{
    text-align:center;
    background-color: aquamarine
}

h1{
    font-family: 'Poppins', sans-serif;
    font-size:50;


}

h2{
    font-family: 'Poppins', sans-serif;
    font-size:50;


}

.Hollow_Company{
    font-family: 'Poppins', sans-serif;
    font-size:50;


}
